<div id="slideshow">
slideshow
</div>
<div class="blog_image">blog</div>
<div class="blog_image">blog</div>
<div class="blog_image">blog</div>
<div class="blog_image">blog</div>
<div class="blog_image">blog</div>
<div class="blog_image">blog</div>
<div class="blog_image">blog</div>
<div class="blog_image">blog</div>
